  
  
  .inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
  
   
  }



*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
 header{
    padding: 0 7rem;
    background-color: 
      rgb(17, 17, 17),
rgba(119, 119, 119, 0);
background-blend-mode: overlay;
    
 }
 .logo{
    font-size: 2.2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
 }
 .navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.8rem;
    margin-bottom: 5rem;
   
 }
 
 ul{
   margin-right: 20px;
   display: flex;
   justify-content: space-between;
 }
 li{
   margin-right: 20px;
    list-style: none;
 }
 a{
    text-decoration: none;
    color: white;
 }
 /* .hamburger{
   display: none;
 } */
 .banner1{
    display: flex;
    justify-content: space-between;
 }
 .content{
    width: 60%;
    color: white;
    padding: 5rem 0;
 }
 .content h1{
    font-size: 4.8rem;
    font-weight: 900;
    margin-bottom: 2rem;
 }
 .content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.5);
 }
 .btn-prime{
    border-radius: 42px;
    background-color:rgb(230, 83, 60) ;
    color: white;
    padding: 1rem 2.8rem;
 }
 .btn-scnd{
    border-radius: 42px;
    border: 1px solid white;
    padding: 1rem 2.8rem;
    color: white;
 }
 .pro-pic{
    width: 30%;
 }
 .pro-pic img{
    width: 100%;
 }
 /* banner2 */
 .banner2{
   max-width: 1044px;
   text-align: center;
   color: white;
   margin: 0 auto;
   padding: 0 7rem;
   margin-top: 50px;
 }
 .card{
   max-width: 230px;
 }
 .banner2 h1{
   font-size: 1.2rem;
   font-weight: 600;
   margin-bottom: 30px;
 }
 .banner2 p{
   font-size: 1rem;
   font-weight: 400;
   margin-bottom: 20px;
   color: rgba(255, 255, 255, 0.5);
 }
 .moves{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 70px;
 }
 .moves img{
   border-radius: 5rem;
   margin-bottom: 30px;
 }