  
  
  .inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
  }
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
 header{
    padding: 0 7rem;
    background-color: 
      rgb(17, 17, 17),
rgba(119, 119, 119, 0);
background-blend-mode: overlay;
    
 }
 .logo{
    font-size: 2.2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
 }
 .navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.8rem;
    margin-bottom: 5rem;
   
 }
 
 ul{
   margin-right: 20px;
   display: flex;
   justify-content: space-between;
 }
 li{
   margin-right: 20px;
    list-style: none;
 }
 a{
    text-decoration: none;
    color: white;
 }
 /* .hamburger{
   display: none;
 } */
 .banner1{
    display: flex;
    justify-content: space-between;
 }
 .banner1-child{
    width: 50%;
    color: white;
    padding: 0 5rem ;
 }
 .banner1-child h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
 }
 .banner1-child p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.5);
 }
 .btn-prime{
    border-radius: 42px;
    background-color:rgb(230, 83, 60) ;
    color: white;
    padding: 1rem 2.8rem;
    width: 224px;
    height: 54px;
 }
 .btn-scnd{
    border-radius: 42px;
    border: 1px solid white;
    padding: 1rem 2.8rem;
    color: white;
 }
 
 .banner1-child img{
    width: 100%;
 }
 /* banner2 */
 .banner2{
   max-width: 1044px;
   text-align: center;
   color: white;
   margin: 0 auto;
   padding: 0 7rem;
   margin-top: 50px;
 }
 .card{
   max-width: 230px;
 }
 .banner2 h1{
   font-size: 1.2rem;
   font-weight: 600;
   margin-bottom: 30px;
 }
 .banner2 p{
   font-size: 1rem;
   font-weight: 400;
   margin-bottom: 20px;
   color: rgba(255, 255, 255, 0.5);
 }
 .moves{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 70px;
 }
 .moves img{
   border-radius: 5rem;
   margin-bottom: 30px;
 }

 /* banner3 */
 .banner3{
   max-width: 1060px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   margin: 0 7rem;
   margin-top: 50px;
   background-color: rgb(34, 34, 34);
   background-blend-mode: overlay;
   border-radius: 20px;
 }
 .b3-description{
   width: 55%;
   color: white;
   text-align: left;
   
   padding: 20px;
 }
 .run{
   width: 45%;
   
   padding: 20px;
 }
 .run img{
   width: 100%;
   border-radius: 40px;
   
 }
 .row1{
   display: grid;
   grid-template-columns: 20% 60% 20%;
 }
 .row1{
   display: grid;
   grid-template-columns: 40% 20% 40%;
 }