 @media screen and (max-width:576px){
    
    .lists{
        display: none;
    }
   
    .hamburger{
        display: block;
        color: white;
    }
   header{
    padding: 0 2rem;
    margin-top: 20px;
   }
    .navbar{
  margin-bottom: 40px;
    }
    .banner1{   
      flex-direction: column;
    
      
       
    }
 .banner1-child{
    /* max-width: 350px; */
    width: 100%;
    text-align: left;
    border: 2px solid yellow;
    padding: 0 0;
    
}

 .moves{
    flex-direction:column;
 }
 .banner3{
    flex-direction: column;
 }
}