  .inter-normal {  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
  }

  .font-awesome {
    font-family: "Playwrite CU", cursive;
  }

  * {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  

  }

  .bg {
    background-color: rgb(34, 34, 34);
  }

  /* Shared Styles. */
  .display-flex {
    display: flex;
  }

  header {
   
    background:linear-gradient(180deg,rgb(17,17,17),rgba(119,119,119,0),100%);
    background: linear-gradient(180deg,rgba(62,74,74,1) -20%, rgb(42,42,42 / 99%) -50% ,rgba(0,0,0,1) 100%);

  }
  .display{
   
    background-color: black;
  }
   .display-container{
    width: 80%;
   }
  .logo {
    font-size: 2.2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    margin-right: 500px;
  }

    
  
  .navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.8rem;
    margin-bottom: 5rem;
   
  }

  ul {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .1px solid white;
    border-radius: 50px;
    padding: 3px;
  }

  li {
    margin-right: 80px;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
  .navbar-home{
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
  }
  .hamburger {
    display: none;
    
  }

  .banner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .banner1-description {
    width: 50%;
    color: white;
   
    text-align: left;
    /* padding: 0 5rem ; */
  }

  .banner1-description h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .banner1-description p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .btns{
      display: flex;
    margin-left: -180px;
    gap: 2px;
    align-items: center;
    
    padding: 0 150px ;
      
   }
  .btn-prime {
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    color: white;
    padding: 1rem .5rem;
    font-weight: 800;
    width: 224px;
    height: 54px;
  }

  .btn-scnd {
    border-radius: 42px;
    border: 1px solid white;
    padding: 1rem 1rem;
    background-color: black;
    font-weight:800;
    color: white;
    width: 150px;
    height: 54px;
  }

  .pro-pic {
    position: relative;
  }

 

  .video {
    width: 180px;
    height: 90px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    /* background: blur(3%); */
  }
  .circle{
    width: 25px;
    height: 25px;
     border-radius: 50%;
     background-color: red;
    margin-left: 10px;
  }
  .tutorial {
    position: absolute;
    bottom: 90px;
    left: -50px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
  }

  .Free {
    position: absolute;
    top: 150px;
    left: 170px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
  }

  /* banner2 */
  .move-segment{
   
    /* width: 100%; */
    background-color: black;
  }
  .banner2{
    max-width: 1044px;
    margin: 0 auto;
    background-color: black;
  
    /* padding: 0 7rem; */
    /* margin-top: 50px; */
  /* background-color: rgba(255, 255, 255, 0.293); */
  }
  .move-segment-details{
    /* text-align: center; */
    
 
    padding: 120px 0;
  }
  .card {
    max-width: 230px;
  }

  .move-segment-details h1{
    font-size: 2rem;
    font-weight: 600;
    /* margin-top: 500px; */
    margin-bottom: 30px;
    color: white;
    text-align: center;
  }

  .move-segment-details p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
    /* color: rgba(255, 255, 255, 0.5); */
  }

  .moves {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
  }

   
   .card{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   .card h5{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
   }
   .card img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
    border-radius: 100px;
   }
  .card p{
     font-size: 14px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
     text-align: center;
  }

  .banner3 {
    background-color: black;

  }

  .fitness-run {
    width: 70%;
    margin: 0 auto;
    border-radius: 18px;
    /* border: 2px solid blue; */
    background-color: rgba(255, 255, 255, 0.293);

  }

  .fitness-run-details {
    display: flex;
    justify-content: space-between;
  
    align-items: center;
   
  }

  .b3-description h1 {
    color: white;
    margin-bottom: 40px;

  }

  .b3-description p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 40px;
    font-size: 1rem;
    font-weight: 400;
  }

  .mobile-mode{
    display: none;
  }
  .desktop-mode{
  
    padding: 30px;
    border-radius: 58px;
  }
 
    
      .workout-style{
        background-color: black;
      }
      .workout-style-container{
      width: 80%;
        /* border: 2px solid red; */
       }
  .workout-style-content {
   
    color: white;
   
    
  }
  .workout-style-content h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px ;
    padding-top: 50px;
  }
  .workout-style-content p{
    font-size: 15px;
    color: rgba(214, 218, 218, 0.533);
    margin-bottom: 20px;
  }
 

  .image-frame {

    display: grid;
    min-height: 450px;
    grid-template-columns: repeat(12, 1fr);
    /* border: 2px solid white; */

  }
  .image-frame img{
  height: 100%;
  width: 100%;
  }
 
  
  .child1 {
   grid-column: 1/ span 3;
    background-image: linear-gradient(rgba(6, 255, 210, 0.5),rgba(0,0,0,0.3));
    /* ,url('../images/exercise1.jpg'); */
    /* background-color: linear-gradient(rgba(6, 255, 210, 0.5)); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
  
  .child1 p {
    position: relative;
    left: 50px;
    color: black;
    bottom: -280px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
  }
  .child2 {
    grid-column: 4 / span 5;
    background-image:
    linear-gradient(rgba(255, 0, 0, 0.3), rgb(0,0,0,0.50));
   
  background-size: cover;
   background-blend-mode: overlay;
  }
  

  .child2 p {
    position: relative;
    left: 70px;
    color: rgb(238, 196, 196);
    bottom: 270px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;

  }

  .child3 {
    grid-column: 9/span 4;
    background-image: linear-gradient(rgba(rgba(0, 0, 0, 0.5),rgba( 0, 0, 0, 0.5)));
    background-size: cover;
    background-position: cover;
    background-blend-mode:overlay;
  }

  .child3 p {
    position: relative;
    left: 2px;
    color: yellow;
    bottom: 75px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
  }

  .child4 {
    grid-column: 1/span 4;
    background-image: linear-gradient(rgba(rgba(0, 0, 0, 0.5),rgba( 0, 0, 0, 0.5)));
    background-size: cover;
    background-blend-mode:overlay;
  }

  .child4 p {
    position: relative;
    left: 300px;
    color: yellow;
    bottom: 340px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
  }

  .child5 {
    grid-column: 5/span 3;
    background-image:
     linear-gradient(rgba(66, 255, 0, 0.3),rgba( 0, 0, 0, 0.25));
     /* url('../images/exercise5.png'); */
    background-size : cover;
    background-blend-mode:overlay;
  }

  .child5 p {
    position: relative;
    left: 50px;
    color: rgb(8, 8, 8);
    bottom: 320px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
  }

  .child6 {
    grid-column: 8/span 5;
    background-image: linear-gradient(rgba(rgba(0, 71, 255, 0.3),rgba( 0, 0, 0, 0.5)));
    /* url(../images/exercise6.jpg); */
    background-size: cover;
    background-blend-mode:overlay;
  }

  .child6 p {
    position: relative;
    left: 30px;
    color: yellow;
    bottom: 80px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
  }

  
  .bmi {
    color: white;
    text-align: left;
    padding: 30px 120px;
    background-color: black;
  }
    .bmi h1{
      font-size: 40px;
    }
  .Calculator {
    margin: 0 auto;
    padding: 2rem 7rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
  
  }

  .rangs-bg {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
  }

  td,
  th {
    padding: 20px 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 50%;
    color: rgba(255, 255, 255, 0.6);
  }

  .table-container {
    background-color: rgb(34, 34, 34);
  }

  table {
    margin-top: 50px;
    border: 2px solid white;
  }

  .ranges h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    /* margin-left: 60px; */
    text-align: left;

  }

  .ranges,
  .frms {
    width: 50%;
    text-align: center;
    /* border: 2px solid red; */
    padding: 10px;
    display: inline;
  }

  .form-heading {
    /* border: 2px solid yellow; */
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    padding: 20px 0;
    text-align: left;
  }
  .bmi-calculate-button{
    width: 200px;
    height: 50px;
    color: white;
    /* text-align: left; */
    background-color: rgb(230, 83, 60);
    padding: 1rem 1.5rem;
    border-radius: 40px;
    font-weight:800;
  }
 
  input,
  select {
    width: 48%;
  }

  .fst-row,
  .scnd-row {
    margin-bottom: 10px;
    padding: 10px 50px 15px 5px;
    color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
  }

  .form-top,.form-middle{
    justify-content: space-between;
  }

  #sex-id select{
    width: 48%;
  }
  #activity-id select {
    width: 100%;
    margin-bottom: 10px;
  }

  .activity-factor {
    padding: 15px 120px 15px 7px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
  }

  form>div,
  .form-submit {
    margin: 0 45px;
  }
  .frms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* team */
  .team-meet{
        /* margin: 0 7rem; */
       background-color: black;
       padding: 50px 0;
      }
  .visual-team {
    max-width: 1044px;
    color: white;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.293);
    
  }
  .heading-of-team{
     text-align: center;
     /* margin-top: 50px; */

  }
   .heading-of-team h1{
     font-size: 50px;
     font-weight: 700;
     margin-bottom: 20px;
    
   }
   .heading-of-team p{
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
   }
  .cards {
    /* padding: 0 7rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px ;
    justify-content: space-between;
    align-items: center;
  }

  .cards img {
    border-radius: 20px;
    height: 250px;
    width: 100%;
  } 
    .positioning{
      position: relative;
    }
    .trainer-info{
      position: absolute;
    }  
      .info1,
      .info2,
      .info3,
      .info4,
      .info5,
      .info6{
       
        bottom: 50px;
      }
      .info1-trainer,
      .info2-trainer,
      .info3-trainer,
      .info4-trainer,
      .info5-trainer,
      .info6-trainer{
        bottom: 30px;
      }
     .challage-part{
      /* background-color: black; */
      /* border: 2px solid red; */
      background-color: black;
      padding: 0px 80px;
     }
     .challage-part-area{
      /* max-width: 1060px; */
      padding: 50px;
      /* border: 2px solid yellow; */
      text-align: center;
      background-image: url('../images/exercise2.png');
      background-color: rgba(255, 255, 255, 0.5);
      background-blend-mode: overlay;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      /* padding: 200px; */
     }
     .challage-part-description{
      display: flex;
      justify-content: space-between;
      align-items: center;
     
     }
       /* .blog{
        color: white;
       } */
       .blog{
        width: 30%;
       }
        .blog h1{
          font-size: 35px;
          font-weight: 600;
          margin: 20px 15px;
        }
        .membership-form{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          
          /* color: white; */
         }
         .membership-form>div{
          margin-bottom: 20px;
         }
         .membership-form select{
          width: 100%;
          padding: 5px 30px 5px 10px;
          border-radius: 5px;
         }
         .name-mail{
          display: flex;
          justify-content: space-between;
         }
        input{
        width: 50%;

       }
       /* select{
        width: 100%;
       } */
        .last-part{
          background-color: rgba(255, 255, 255, 0.293);
         
          color: white;
          
        }
  
  .footer-container{
    width: 80%;
    
    /* border: 2px solid red; */
  }
  .flex-part{
    align-items: center;
  }

  .ft-child2,
  .ft-child3 {
    /* padding-top: 50px; */
    text-align: center;
  }
    .footer-fitness{
      font-size: 50px;
      font-weight: 900;
      color:rgb(230, 83, 60);
   
    }
    .ft-child1 p{
      color: rgba(255, 255, 255, 0.6);
      font-size: 15px;
    }

    .ft-child2 h5,
    .ft-child3 h5
    {
      color: rgba(255, 255, 255, 0.6);
      font-size: 15px;
      margin-bottom: 50px;
      /* padding-left: 90px; */
    }
    
      #club-feature{
        padding-left: 20px;
        margin-bottom: 10px;
      }
      .copyright-part{
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        padding: 200px 80px;
      }
      .copyright{
        margin-top: 20px;
      }