 @media screen and (max-width:576px){
     
    .lists{
        display: none;
    }
   
    .hamburger{
        display: block;
        color: white;
    }
   /* header{ */
    /* width: 100%; */
    /* padding: 10px ; */
    /* margin-top: 20px; */
   /* } */
   .display{
    padding: 0 2rem;
   }
   .logo{
    margin-right: 120px;
   }
 li{
  margin-right: 0;
 }
    .banner1{   
      flex-direction: column;
    }
 .banner1-child{
    /* max-width: 350px; */
    width: 100%;
    text-align: left;
    /* border: 2px solid yellow; */
    padding: 0 0;
    
} 
.banner1-child img {
  width: 100%;
}

 .video{
    width: 150px;
    height: 90px;
 }
   .tutorial{
    left: -3px;
    
  
   }
   .free{
    right:550px;
   
   }

   .move-segment-details{
    padding:2rem 2rem;
   }
 .moves{
    flex-direction:column;
    gap:30px;
 }
 .fitness-run-details{
    flex-direction: column;
    /* max-width: 350px; */
     margin: 0 2rem; */
   /* border: 2px solid yellow; */
   align-items: center;
    /* text-align: left; */
    
 }
 .b3-description,.run{
    width: 100%;
 }
 .desktop-mode{
     display: none;
 }
   .mobile-mode{
      display: block;
      width: 100%;
   }
 .banner4-heading{
    text-align: left;
    padding: 0 2rem;
 }
 .grid-colum-sction{
    padding: 0 2rem;
 }
 .image-frame{
   
    min-height: 250px;
 }
   .banner4-heading{
    margin: 0 2rem;
   }
 .child1{
    grid-column: 1/span 7;
    /* grid-row:1/span 6; */
    /* fill: rgba(6, 255, 210, 0.5); */
    /* background-blend-mode: overlay; */
    filter: drop-shadow(rgba(6, 255, 210, 0.5));
  }
  .child2{
    grid-column: 8/span 6;
    /* grid-row:7/span 6; */
  }
    .child3{
        display: none;
    }
  .child4{
    grid-column: 1/span 5;
    /* grid-row:1/span 6; */
  }
  .child5{
    grid-column: 6/span 7;
    /* grid-row: 7/span 6; */
  }
  .child6{
    display: none;
}
.child1 p,.child2 p,.child3 p,.child4 p,.child5 p,.child6 p{
  display: none;
}
   .bmi{
    padding: 2rem 2rem;
    
   }
 .Calculator{
    flex-direction: column;
   padding: 0 2rem;
   /* width: 100%; */ 
   /* display: none; */

 }
   th,td{
    padding: 20px 30px;
   }
 table{
  /* display: none; */
    width: 100%; 
 }
 .ranges,
  .frms {
    width: 100%;
  }
.challage-part{
  padding: 0 2rem;
}
.challage-part-area{
  padding: 10px;
  background-size: cover;
}
  .challage-part-description{
     flex-direction: column;
     gap: 40px;
  }
   .blog,
   .membership-form,
   .joining-form{
    width: 100%;
   }

    .flex-part{
      flex-direction: column;
    }
    .ft-child1,
   .ft-child2,
   .ft-child3 {
    width: 100%;
   }
   .ft-child1 p{
    padding-left: 20px;
   }
  } 